<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>8G4</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>DownloadLink</key>
		<string>http://appldnld.apple.com/iPhone4/041-0556.20110325.64rfg/iPad2,1_4.3.1_8G4_Restore.ipsw</string>
		<key>FirmwareName</key>
		<string>iPad2,1_4.3.1_8G4_Restore.ipsw</string>
		<key>GlyphCharging</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>RestoreRamDisk</key>
		<dict>
			<key>path</key>
			<string>038-0919-005.dmg</string>
		</dict>
		<key>Root Filesystem</key>
		<dict>
			<key>path</key>
			<string>038-0887-005.dmg</string>
			<key>vfdecrypt</key>
			<string>6f7502e91f3239f907b6bf8955f191b276ec57c392d2beffb3fbc5392da0bc86e65d684e</string>
		</dict>
		<key>UpdateRamDisk</key>
		<dict>
			<key>path</key>
			<string>038-0895-005.dmg</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>vfdecrypt</key>
		<string>6f7502e91f3239f907b6bf8955f191b276ec57c392d2beffb3fbc5392da0bc86e65d684e</string>
	</dict>
	<key>8H7</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>DownloadLink</key>
		<string>http://appldnld.apple.com/iPhone4/041-0663.20110414.U7bTI/iPad2,1_4.3.2_8H7_Restore.ipsw</string>
		<key>FirmwareName</key>
		<string>iPad2,1_4.3.2_8H7_Restore.ipsw</string>
		<key>GlyphCharging</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>RestoreRamDisk</key>
		<dict>
			<key>path</key>
			<string>038-1042-007.dmg</string>
		</dict>
		<key>Root Filesystem</key>
		<dict>
			<key>path</key>
			<string>038-1026-007.dmg</string>
			<key>vfdecrypt</key>
			<string>51e154b3f8baadceb317ad6e815b7f75bc956c1fa1f213d7a344e5a6eda4a54b7e79bb50</string>
		</dict>
		<key>UpdateRamDisk</key>
		<dict>
			<key>path</key>
			<string>038-1032-007.dmg</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>vfdecrypt</key>
		<string>51e154b3f8baadceb317ad6e815b7f75bc956c1fa1f213d7a344e5a6eda4a54b7e79bb50</string>
	</dict>
	<key>8J2</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>DownloadLink</key>
		<string>http://appldnld.apple.com/iPhone4/041-1012.20110503.tmmBc/iPad2,1_4.3.3_8J2_Restore.ipsw</string>
		<key>FirmwareName</key>
		<string>iPad2,1_4.3.3_8J2_Restore.ipsw</string>
		<key>GlyphCharging</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>RestoreRamDisk</key>
		<dict>
			<key>path</key>
			<string>038-1495-003.dmg</string>
		</dict>
		<key>Root Filesystem</key>
		<dict>
			<key>path</key>
			<string>038-1425-003.dmg</string>
			<key>vfdecrypt</key>
			<string>7ac7018b57235d34fcbe0c84713ea7c6c482322559336845d299508f6a8643c2078de051</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>vfdecrypt</key>
		<string>7ac7018b57235d34fcbe0c84713ea7c6c482322559336845d299508f6a8643c2078de051</string>
	</dict>
	<key>8K2</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>DownloadLink</key>
		<string>http://appldnld.apple.com/iPhone4/041-1924.2011.0715.qP4r3/iPad2,1_4.3.4_8K2_Restore.ipsw</string>
		<key>FirmwareName</key>
		<string>iPad2,1_4.3.4_8K2_Restore.ipsw</string>
		<key>GlyphCharging</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>RestoreRamDisk</key>
		<dict>
			<key>path</key>
			<string>038-2196-001.dmg</string>
		</dict>
		<key>Root Filesystem</key>
		<dict>
			<key>path</key>
			<string>038-2179-001.dmg</string>
			<key>vfdecrypt</key>
			<string>dd467a5139d280e60b4ec9bfa534eae9e1d782ee74fcecd86f409e9fe799fb945ee76158</string>
		</dict>
		<key>UpdateRamDisk</key>
		<dict>
			<key>path</key>
			<string>038-2177-001.dmg</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>iv</key>
			<string>TODO</string>
			<key>k</key>
			<string>TODO</string>
		</dict>
		<key>vfdecrypt</key>
		<string>dd467a5139d280e60b4ec9bfa534eae9e1d782ee74fcecd86f409e9fe799fb945ee76158</string>
	</dict>
</dict>
</plist>
