<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>8C148</key>
	<dict>
		<key>DeviceTree</key>
		<dict>
			<key>vfdecrypt</key>
			<string>519ec112b4af0a65eab6ea65b222c5b7f605ce52ad9195640e3309de58dd54ab0a0c9607</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>iv</key>
			<string>2c57dfc0b7a54452fea42385860ebd05</string>
			<key>k</key>
			<string>623bbea0949fb8363cdc89f3542396e8</string>
		</dict>
		<key>Recovery Mode</key>
		<dict>
			<key>iv</key>
			<string>9497515e5441ee5841fd932c908ddd6a</string>
			<key>k</key>
			<string>2116a68f4bcec5475a8702b983c0eb75</string>
		</dict>
		<key>RestoreRamDisk</key>
		<dict>
			<key>path</key>
			<string>038-0049-002.dmg</string>
		</dict>
		<key>Root Filesystem</key>
		<dict>
			<key>path</key>
			<string>038-0014-002.dmg</string>
		</dict>
		<key>UpdateRamDisk</key>
		<dict>
			<key>path</key>
			<string>038-0050-002.dmg</string>
		</dict>
		<key>applelogo</key>
		<dict/>
		<key>batterycharging0</key>
		<dict/>
		<key>batterycharging1</key>
		<dict/>
		<key>batteryfull</key>
		<dict/>
		<key>batterylow0</key>
		<dict/>
		<key>batterylow1</key>
		<dict/>
		<key>glyphcharging</key>
		<dict>
			<key>iv</key>
			<string>654eb6a2290da5b9b77e6570f2d8ba2b</string>
			<key>k</key>
			<string>8d53585fa73916d27016abc81e41da82</string>
		</dict>
		<key>glyphplugin</key>
		<dict>
			<key>iv</key>
			<string>d67c8ecae9d5278eb61766370fc37c29</string>
			<key>k</key>
			<string>822296fc0d914b5665c6934be21b763e</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>iv</key>
			<string>75155f29cafe8dfdfdcf6fbf107664c1</string>
			<key>k</key>
			<string>6788b9096c321f1f3563f546e1809676</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>iv</key>
			<string>17cbc75c381ff25c4dea33be4647d5cf</string>
			<key>k</key>
			<string>16695266d57046db6e7b3b01203af048</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>iv</key>
			<string>f9427e9ceade82bd3b3494191f71f992</string>
			<key>k</key>
			<string>962dded446843677a0ad2eb1c4944f7d</string>
		</dict>
		<key>kernelcache</key>
		<dict>
			<key>iv</key>
			<string>95b731bdd3057d28426640752aaab0a9</string>
			<key>k</key>
			<string>9392a0f3f1f4e5348ca87113f530305a</string>
		</dict>
		<key>vfdecrypt</key>
		<string>519ec112b4af0a65eab6ea65b222c5b7f605ce52ad9195640e3309de58dd54ab0a0c9607</string>
	</dict>
</dict>
</plist>
