<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>8C148</key>
	<dict>
		<key>AppleLogo</key>
		<dict/>
		<key>BatteryCharging0</key>
		<dict/>
		<key>BatteryCharging1</key>
		<dict/>
		<key>BatteryFull</key>
		<dict/>
		<key>BatteryLow0</key>
		<dict/>
		<key>BatteryLow1</key>
		<dict/>
		<key>DeviceTree</key>
		<dict>
			<key>vfdecrypt</key>
			<string>982437b30d334c744c94b9a73ab70e0fc6ed94c181b2a8b0fde6ee03f2546cc9b2c5b01c</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>iv</key>
			<string>509e699fcfbc5317fa5eb3e79fc5a932</string>
			<key>k</key>
			<string>9cee1bb0bf019db324eb266f426b80fbcfba614464932c6b416ed039fbde73dd</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>iv</key>
			<string>9b20ae16bebf4cf1b9101374c3ab0095</string>
			<key>k</key>
			<string>06849aead2e9a6ca8a82c3929bad5c2368942e3681a3d5751720d2aacf0694c0</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>iv</key>
			<string>6ea98a78db9deca4cc1d37ab2b01bf72</string>
			<key>k</key>
			<string>311b3abb89083cd245b2c00bb9207b3fa721435b4f53836a97c38cfde4b20268</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>iv</key>
			<string>411cf59c075aed7412eac6cb209b635f</string>
			<key>k</key>
			<string>809a6d52d5ed34d6d35397c1bce23190a09e353418394b33e60b5257de1ee117</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>iv</key>
			<string>76d3f38f8badef93c8a243f4e96e739e</string>
			<key>k</key>
			<string>fdacba0a29f3b650cd135864ee95cb088cb905342912de93fd5a7bf288c99d75</string>
		</dict>
		<key>RestoreRamDisk</key>
		<dict>
			<key>path</key>
			<string>038-0032-002.dmg</string>
		</dict>
		<key>Root Filesystem</key>
		<dict>
			<key>path</key>
			<string>038-0017-002.dmg</string>
		</dict>
		<key>UpdateRamDisk</key>
		<dict>
			<key>path</key>
			<string>038-0024-002.dmg</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>iv</key>
			<string>0dcee7d1b9982793558d588d84c44af0</string>
			<key>k</key>
			<string>91866d7b929b971c72fa6e90530a5b2a361bed9486f2cb884b632f61253ed204</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>iv</key>
			<string>55fbd7a9c6b27af1edc3d79a1e4a7a5e</string>
			<key>k</key>
			<string>e4b8dd16397ce416a6309b594034c8e024c245dcff046014331d71e307047939</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>iv</key>
			<string>bf594f1948cfe699ed81978da918c9a2</string>
			<key>k</key>
			<string>6059d6622dc37946e52d2fe87d64541b2142362a9f33576647d0e4210bd98d1b</string>
		</dict>
		<key>vfdecrypt</key>
		<string>982437b30d334c744c94b9a73ab70e0fc6ed94c181b2a8b0fde6ee03f2546cc9b2c5b01c</string>
	</dict>
	<key>8F190</key>
	<dict>
		<key>AppleLogo</key>
		<dict/>
		<key>BatteryCharging0</key>
		<dict/>
		<key>BatteryCharging1</key>
		<dict/>
		<key>BatteryFull</key>
		<dict/>
		<key>BatteryLow0</key>
		<dict/>
		<key>BatteryLow1</key>
		<dict/>
		<key>DeviceTree</key>
		<dict>
			<key>vfdecrypt</key>
			<string>b5eefbaf0046a79c689ff07e66ee8045f859dab1ee16d44d15606c1918e5afd323f2db07</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>iv</key>
			<string>a6fa038915d5aab8c2cc041071d54542</string>
			<key>k</key>
			<string>f279113c41097fca600109652865ff24d21f797d4113473dfe612f246a3f2cd0</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>iv</key>
			<string>d11772b6a3bdd4f0b4cd8795b9f10ad9</string>
			<key>k</key>
			<string>9873392c91743857cf5b35c9017c6683d5659c9358f35c742be27bfb03dee77c</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>iv</key>
			<string>c5c13fb71469e0b15b3d1daabf9b073a</string>
			<key>k</key>
			<string>f9535daa128c4d569f38d473028fc5e47bee1587463bbe7e34efe1a7dc883a1a</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>iv</key>
			<string>3098aa8978c907db1e0ae09d54e1d9df</string>
			<key>k</key>
			<string>1d20a88a43e9333bd358bc95488feced6868b88ae8947b362cd00e7fa7c9581f</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>iv</key>
			<string>81d84ee54b7d0ce6138282d1e7b4a45b</string>
			<key>k</key>
			<string>aedce6e79c35612752963a6774f0bae97871b683c38190cece97f2da963ba59c</string>
		</dict>
		<key>RestoreRamDisk</key>
		<dict>
			<key>path</key>
			<string>038-0715-006.dmg</string>
		</dict>
		<key>Root Filesystem</key>
		<dict>
			<key>path</key>
			<string>018-7892-129.dmg</string>
		</dict>
		<key>UpdateRamDisk</key>
		<dict>
			<key>path</key>
			<string>038-0707-006.dmg</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>iv</key>
			<string>e6cae37aca610fc27d64001fc69da531</string>
			<key>k</key>
			<string>f31183f5fe2beb0eaea8a057f47e13f967357161054f8d92ebc0fdb3645a822c</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>iv</key>
			<string>80db35b6b557444365e7c38fd81fe367</string>
			<key>k</key>
			<string>58683571bcb9f2be0abbd1edb4bbebf24ecf1876a38422fb1363577de8938649</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>iv</key>
			<string>2555494c24b44f7aeb32469d9e029fd9</string>
			<key>k</key>
			<string>644180742585b411029cfadd14018dc2ee0605b1407ea3f03cf705477f7928c4</string>
		</dict>
		<key>vfdecrypt</key>
		<string>b5eefbaf0046a79c689ff07e66ee8045f859dab1ee16d44d15606c1918e5afd323f2db07</string>
	</dict>
	<key>8G4</key>
	<dict>
		<key>AppleLogo</key>
		<dict/>
		<key>BatteryCharging0</key>
		<dict/>
		<key>BatteryCharging1</key>
		<dict/>
		<key>BatteryFull</key>
		<dict/>
		<key>BatteryLow0</key>
		<dict/>
		<key>BatteryLow1</key>
		<dict/>
		<key>DeviceTree</key>
		<dict>
			<key>vfdecrypt</key>
			<string>2cce34479eeb3701b3888f81c0465d2d98133af3a2761d0a82ad5074ca8efc1c5593eccb</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>iv</key>
			<string>a9b367b0f6846483adf0aa55c21c6716</string>
			<key>k</key>
			<string>4243444e8633ddfb676089f49b0852ccd840f4c367910842ce7a3f6e263d277a</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>iv</key>
			<string>b7c40f9a240e36e78991a436a8966f85</string>
			<key>k</key>
			<string>7ce41a791ce6adfc6c31c77b5985ce5d4e00643f3dc6f181c149d2aba134d1d0</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>iv</key>
			<string>f8fd3b6f058af774384243c3786ba149</string>
			<key>k</key>
			<string>d4d2d7dfac0f6dc72a969397c8409dce12bc4674eba9e5e7bfe232e781b01cbd</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>iv</key>
			<string>ed71b94db6d8b500277a05415205e732</string>
			<key>k</key>
			<string>e6b53989759f9c0634bf24c4f13d5d66b39e3a3f4a86ecc84a2cabf38b4b29fa</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>iv</key>
			<string>54b4cfb35a66b5a66acb25bb2d135fcc</string>
			<key>k</key>
			<string>c17b553859aea49ff1cb5bfa534386932423785ef468534ae1d4e054b9fdb872</string>
		</dict>
		<key>RestoreRamDisk</key>
		<dict>
			<key>path</key>
			<string>038-0902-005.dmg</string>
		</dict>
		<key>Root Filesystem</key>
		<dict>
			<key>path</key>
			<string>038-0886-005.dmg</string>
		</dict>
		<key>UpdateRamDisk</key>
		<dict>
			<key>path</key>
			<string>038-0894-005.dmg</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>iv</key>
			<string>0b171c27c0f3bd6a307e2565e2f9ae43</string>
			<key>k</key>
			<string>3982e66e868eb93e45962f8a0bc2866817fece31008e74a2987656806a66ffd4</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>iv</key>
			<string>1f50bdfd9f9f0e7a9f35ab4e1d594f34</string>
			<key>k</key>
			<string>c78ae9c88974354329dbabfdfe46d944028610358051557c894b6e6738ce6851</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>iv</key>
			<string>280b5f74d04eb15b5414b59f50cb3ffb</string>
			<key>k</key>
			<string>2aa1ead38cc8620770c3b918a51aa414a006474ff4bcac83cbdd64dac261b91b</string>
		</dict>
		<key>vfdecrypt</key>
		<string>2cce34479eeb3701b3888f81c0465d2d98133af3a2761d0a82ad5074ca8efc1c5593eccb</string>
	</dict>
	<key>8H7</key>
	<dict>
		<key>AppleLogo</key>
		<dict/>
		<key>BatteryCharging0</key>
		<dict/>
		<key>BatteryCharging1</key>
		<dict/>
		<key>BatteryFull</key>
		<dict/>
		<key>BatteryLow0</key>
		<dict/>
		<key>BatteryLow1</key>
		<dict/>
		<key>DeviceTree</key>
		<dict>
			<key>vfdecrypt</key>
			<string>401b22ae26cca1aa2e119c17a6c389a1ba6aea0fbff4912000a77df953f010637b35d0ee</string>
		</dict>
		<key>GlyphCharging</key>
		<dict/>
		<key>GlyphPlugin</key>
		<dict/>
		<key>KernelCache</key>
		<dict>
			<key>iv</key>
			<string>b647af32aede8f7e2e298a037edd02ec</string>
			<key>k</key>
			<string>80841122c5315319d149ed3d61a6ebfa08bb83d0c3a5dc2362d23773700cb6e6</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>iv</key>
			<string>68e672b9c9edb53bce7aa42cc0731d96</string>
			<key>k</key>
			<string>883aebcff47525c1b207e2dd235b598178fb34c880461bf747328c954f9f6c1d</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>iv</key>
			<string>6e6bfe42c6e76cbedb50d4f0c3494dda</string>
			<key>k</key>
			<string>a6874699b8e099213c8df52b547abfd2369ee486796a58067c4cf4cd284b1dcf</string>
		</dict>
		<key>RestoreRamDisk</key>
		<dict>
			<key>path</key>
			<string>038-1035-007.dmg</string>
		</dict>
		<key>Root Filesystem</key>
		<dict>
			<key>path</key>
			<string>038-1023-007.dmg</string>
		</dict>
		<key>UpdateRamDisk</key>
		<dict>
			<key>path</key>
			<string>038-1031-007.dmg</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>iv</key>
			<string>49fd14184476100852003f01417f0c88</string>
			<key>k</key>
			<string>dc88579aa656b45b84434be0f06fa7aa1c5d882570735a8be0631a0a1266d395</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>iv</key>
			<string>78efb0ad96b92bc13981a7dc92433c32</string>
			<key>k</key>
			<string>68e4f78fcfb0c372f0883fccb366ac3145922c497e3bfe90e37d441683353cc8</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>iv</key>
			<string>ec3eb6512de895004947fb8cdd9268a8</string>
			<key>k</key>
			<string>5afaafe8ab21cf5770dce18df7731adf27bc892cb0074aa1e5393c14f3b6fb48</string>
		</dict>
		<key>vfdecrypt</key>
		<string>401b22ae26cca1aa2e119c17a6c389a1ba6aea0fbff4912000a77df953f010637b35d0ee</string>
	</dict>
	<key>8J2</key>
	<dict>
		<key>AppleLogo</key>
		<dict/>
		<key>BatteryCharging0</key>
		<dict>
			<key>iv</key>
			<string>c72c10cc551546b44abf697987da893c</string>
			<key>k</key>
			<string>4cd182cfb8145a0168983971f1c3fc6d8e35e7171314a72b2a0a0a2bca0dd756</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>iv</key>
			<string>c70cc468c360f5b609dd5f849a482586</string>
			<key>k</key>
			<string>2e71f303a0679f7b7dbf10780a6d75112e7dea79ac72eecd4c2e63ed81eeb9bf</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>iv</key>
			<string>c8a7a0aba76f9562286f9d3d6c4e6399</string>
			<key>k</key>
			<string>9b66e3bb02b42141ed21c47fe83074ff41fe6a701adc987e3ff192b539e3ddd5</string>
		</dict>
		<key>BatteryLow0</key>
		<dict/>
		<key>BatteryLow1</key>
		<dict>
			<key>vfdecrypt</key>
			<string>d2877c05eb72e55d52d4e5e71c523a503c5bb8c85f6c7077d821140beea967782d30858d</string>
		</dict>
		<key>DeviceTree</key>
		<dict/>
		<key>GlyphCharging</key>
		<dict/>
		<key>GlyphPlugin</key>
		<dict/>
		<key>KernelCache</key>
		<dict>
			<key>iv</key>
			<string>68e672b9c9edb53bce7aa42cc0731d96</string>
			<key>k</key>
			<string>883aebcff47525c1b207e2dd235b598178fb34c880461bf747328c954f9f6c1d</string>
		</dict>
		<key>LLB</key>
		<dict/>
		<key>RecoveryMode</key>
		<dict/>
		<key>RestoreRamDisk</key>
		<dict>
			<key>path</key>
			<string>038-1449-003.dmg</string>
		</dict>
		<key>Root Filesystem</key>
		<dict>
			<key>path</key>
			<string>038-1419-003.dmg</string>
		</dict>
		<key>UpdateRamDisk</key>
		<dict>
			<key>path</key>
			<string>038-1437-003.dmg</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>iv</key>
			<string>4b0a59643dce66626fef9a8a007513aa</string>
			<key>k</key>
			<string>f78eb7941b52b9334788af522f4448445c7084eaf8d5ff5122e60d39c615232c</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>iv</key>
			<string>49fd14184476100852003f01417f0c88</string>
			<key>k</key>
			<string>dc88579aa656b45b84434be0f06fa7aa1c5d882570735a8be0631a0a1266d395</string>
		</dict>
		<key>iBoot</key>
		<dict/>
		<key>vfdecrypt</key>
		<string>d2877c05eb72e55d52d4e5e71c523a503c5bb8c85f6c7077d821140beea967782d30858d</string>
	</dict>
	<key>8K2</key>
	<dict>
		<key>AppleLogo</key>
		<dict/>
		<key>BatteryCharging0</key>
		<dict>
			<key>iv</key>
			<string>242573987a16fc81d726ee02049079e7</string>
			<key>k</key>
			<string>59b41193776a615fa131518dcc55eaf05a2bd9a83781016d5795be466b73932b</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>iv</key>
			<string>062f1f34e7b5171a37d0b816a897ae81</string>
			<key>k</key>
			<string>7ec924e2aa620aaf796d53f3d527928da6231d0109982381b059c6badabfb0cf</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>iv</key>
			<string>55069f3acd4304396e7b584c9b0918f5</string>
			<key>k</key>
			<string>6eb4f004372dfef8fafad7bc01187283b462e13de0ca8889ffefc5dcb305f501</string>
		</dict>
		<key>BatteryLow0</key>
		<dict/>
		<key>BatteryLow1</key>
		<dict>
			<key>vfdecrypt</key>
			<string>c71cb13f356620fdf7b1ab93470e3cff4d7f0f005d36bff5a6c3f8e60ab48e5b9d93841c</string>
		</dict>
		<key>DeviceTree</key>
		<dict/>
		<key>GlyphCharging</key>
		<dict/>
		<key>GlyphPlugin</key>
		<dict/>
		<key>KernelCache</key>
		<dict>
			<key>iv</key>
			<string>3c4bc90ba0605e081563bf63faa5d458</string>
			<key>k</key>
			<string>4522c625eb6737adb9247df7272404ded0bcf6316f7ccedbbf03ea6aa88b47b6</string>
		</dict>
		<key>LLB</key>
		<dict/>
		<key>RecoveryMode</key>
		<dict/>
		<key>RestoreRamDisk</key>
		<dict>
			<key>path</key>
			<string>038-2174-001.dmg</string>
		</dict>
		<key>Root Filesystem</key>
		<dict>
			<key>path</key>
			<string>038-2186-001.dmg</string>
		</dict>
		<key>UpdateRamDisk</key>
		<dict>
			<key>path</key>
			<string>038-2175-001.dmg</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>iv</key>
			<string>8f4b5e35a66a50e79247d442c8c18589</string>
			<key>k</key>
			<string>840b0103c63dd0cfabfc6a89e51c55838ec3bf716ec2cba831de94051bafaf90</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>iv</key>
			<string>bd6eae47ffd9aecfb36245db70a72412</string>
			<key>k</key>
			<string>195a152a260fae31fb5085e8736132be44f15973c47330aebcaea3f121713e83</string>
		</dict>
		<key>iBoot</key>
		<dict/>
		<key>vfdecrypt</key>
		<string>c71cb13f356620fdf7b1ab93470e3cff4d7f0f005d36bff5a6c3f8e60ab48e5b9d93841c</string>
	</dict>
	<key>8L1</key>
	<dict>
		<key>AppleLogo</key>
		<dict/>
		<key>BatteryCharging0</key>
		<dict>
			<key>iv</key>
			<string>242573987a16fc81d726ee02049079e7</string>
			<key>k</key>
			<string>59b41193776a615fa131518dcc55eaf05a2bd9a83781016d5795be466b73932b</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>iv</key>
			<string>062f1f34e7b5171a37d0b816a897ae81</string>
			<key>k</key>
			<string>7ec924e2aa620aaf796d53f3d527928da6231d0109982381b059c6badabfb0cf</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>iv</key>
			<string>55069f3acd4304396e7b584c9b0918f5</string>
			<key>k</key>
			<string>6eb4f004372dfef8fafad7bc01187283b462e13de0ca8889ffefc5dcb305f501</string>
		</dict>
		<key>BatteryLow0</key>
		<dict/>
		<key>BatteryLow1</key>
		<dict>
			<key>vfdecrypt</key>
			<string>bb8cc0947739d77f7c800fea823f37f34ebf1dfd77fefadaef163d3556a73b20ce411ed7</string>
		</dict>
		<key>DeviceTree</key>
		<dict/>
		<key>GlyphCharging</key>
		<dict/>
		<key>GlyphPlugin</key>
		<dict/>
		<key>KernelCache</key>
		<dict>
			<key>iv</key>
			<string>3c4bc90ba0605e081563bf63faa5d458</string>
			<key>k</key>
			<string>4522c625eb6737adb9247df7272404ded0bcf6316f7ccedbbf03ea6aa88b47b6</string>
		</dict>
		<key>LLB</key>
		<dict/>
		<key>RecoveryMode</key>
		<dict/>
		<key>RestoreRamDisk</key>
		<dict>
			<key>path</key>
			<string>038-2265-002.dmg</string>
		</dict>
		<key>Root Filesystem</key>
		<dict>
			<key>path</key>
			<string>038-2284-002.dmg</string>
		</dict>
		<key>UpdateRamDisk</key>
		<dict>
			<key>path</key>
			<string>038-2268-002.dmg</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>iv</key>
			<string>8f4b5e35a66a50e79247d442c8c18589</string>
			<key>k</key>
			<string>840b0103c63dd0cfabfc6a89e51c55838ec3bf716ec2cba831de94051bafaf90</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>iv</key>
			<string>bd6eae47ffd9aecfb36245db70a72412</string>
			<key>k</key>
			<string>195a152a260fae31fb5085e8736132be44f15973c47330aebcaea3f121713e83</string>
		</dict>
		<key>iBoot</key>
		<dict/>
		<key>vfdecrypt</key>
		<string>bb8cc0947739d77f7c800fea823f37f34ebf1dfd77fefadaef163d3556a73b20ce411ed7</string>
	</dict>
	<key>9A334</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>iv</key>
			<string>e65ce8671b58fc4c779e166eab10e8ff</string>
			<key>k</key>
			<string>9d4f781b6384b85b8b5a6cc0b33bc584163b546fca3defff21137d7dcc50d380</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>iv</key>
			<string>4fd55d940fbbcfaf9fd6f31d9714b5a1</string>
			<key>k</key>
			<string>c705fd628ca88a76dc666e0a6081212c614c200f669573944260ef11377a33bc</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>iv</key>
			<string>d29a0838b75e91aa5ec3230d9872556f</string>
			<key>k</key>
			<string>c8b5aac64d2bad6cc89f82cced248900a25bb5779f70db6a359572ba68a0449f</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>iv</key>
			<string>60c303ec10e88854664056d22c65bc38</string>
			<key>k</key>
			<string>2fbbe0db4aaa83e8eb46e802c0155dd28c4bdad74b7f1f6c380dfe6245884819</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>iv</key>
			<string>6756cebf362ebad5f2bd6fcdb971fbb3</string>
			<key>k</key>
			<string>2f47e54650dadd32605803c2e5a3c064bb1ad248aec19e9a2fb8da3e31903f88</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>iv</key>
			<string>cc78277be52b7f0a4bd9352f0cdde114</string>
			<key>k</key>
			<string>096f1ba8be2ca3b714bb40009b3efb008cd300fe3be023541fc306c7e93a3083</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>iv</key>
			<string>9368b66e9bf1d527bfe4d70cba908438</string>
			<key>k</key>
			<string>51129fd7d4d36eb67057258ef76d4dfb8a1e8605f2741e714dd9c6c992f0c1a4</string>
		</dict>
		<key>DownloadLink</key>
		<string>http://appldnld.apple.com/iPhone4/061-9622.20111012.Evry3/iPod4,1_5.0_9A334_Restore.ipsw</string>
		<key>FirmwareName</key>
		<string>iPod4,1_5.0_9A334_Restore.ipsw</string>
		<key>GlyphCharging</key>
		<dict>
			<key>iv</key>
			<string>1ea388fbc4ce57d4e897494c639cad52</string>
			<key>k</key>
			<string>dc09977ade1717fdf5839e1e93e595d2f999981a190a1b9ebabb34bce98e6f3b</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>iv</key>
			<string>0dfc5e73734f84cd04a980a5e41267ac</string>
			<key>k</key>
			<string>0f6763f2c7964b6cb5a6aa28e0b227f613c8a580e3e6da0a9080f5e446572a33</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>iv</key>
			<string>8c1cad1ade02c16b061201f005ee7818</string>
			<key>k</key>
			<string>90bebe16e5c34159e5f2cbbd19eb3c44b4fcaea19a7b1f056bee5c94732d42c3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>iv</key>
			<string>5606836e79ccb338497ceeca4bf7e368</string>
			<key>k</key>
			<string>01167c04d161835470ab9b02e3d726065ba2498513b8b93f4481bf970a8ff637</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>iv</key>
			<string>fd29096afd26b87c994566b6c32af385</string>
			<key>k</key>
			<string>bdd53835049f058836f2d74cf60e736ed85c5e3939890c2f94fdda4aef479acd</string>
		</dict>
		<key>RestoreRamDisk</key>
		<dict>
			<key>iv</key>
			<string>6aa6791d75e07b6866e42b04f80b90d6</string>
			<key>k</key>
			<string>203ff7f82ff601232c7f8d3b53d3005d3218a5121ccf7eca4c9bf8a6870b7bf3</string>
			<key>path</key>
			<string>018-7923-347.dmg</string>
		</dict>
		<key>Root Filesystem</key>
		<dict>
			<key>path</key>
			<string>038-2707-006.dmg</string>
			<key>vfdecrypt</key>
			<string>575bcb4f9290a28bc00451f7e444973fd8b0afc529d2d84db4ae227bdd779563f070eaea</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>iv</key>
			<string>585ea0ab6a68e72b686292cc2b30cb9c</string>
			<key>k</key>
			<string>f9b6055db270eff397baffe34989b154da745c017a8d5ce8e6e73b0660ed6a27</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>iv</key>
			<string>48f224258ed236032d0993b828bccc49</string>
			<key>k</key>
			<string>d28d2281bdf5b6b5f3e45cfc6adddf3682c60348aa6fe6543e184814ae54bebb</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>iv</key>
			<string>f2904ddce41b5934e8aee5f2445db9a8</string>
			<key>k</key>
			<string>7c9c488b2b75861d6b6e468ed7d1ed233b19246dc1fa7e9dd3b38a4cd727e883</string>
		</dict>
		<key>vfdecrypt</key>
		<string>575bcb4f9290a28bc00451f7e444973fd8b0afc529d2d84db4ae227bdd779563f070eaea</string>
	</dict>
</dict>
</plist>
